# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Colab
/content/

# model checkpoints
*.pt
*.pth

# numpy data
*.npy
*.npz

# datasets
data/

# outputs
submission.npy
*.zip

# macOS
.DS_Store
